#page-create-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

/*Breakpoint: Telas até 800px de largura*/
@media (max-width: 800px) {
    #page-create-orphanage {
        flex-direction: column;
        width:100%;
    }

    main {
        width: 100%;
    }
    /*Ocultando barra lateral*/
    aside.sidebar {
        display:none;
    }
    
    .with-sidebar {
        padding-left: 0px;
    }
    
}

.map-container {
    margin: 0 0 4rem;
}

.map-container .leaflet-container {
    border-radius: 20px 20px 0 0;
}

.map-container footer {
    background: #F5F8FA;
    border-radius: 0 0 20px 20px;
}
