<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo-icon.png" type="">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/error.css">
        
    <!--Fonte de Texto Externa-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">

        
    <title>Erro | Happy</title>
</head>
<body>
    <main>
        <figure>
            <img src="/images/logo.svg" alt="Logomarca de Happy" />
        </figure>
        <div class="msg-user">
            <p>{{errorMsg.msg}}</p>
            <p>Caso o erro persista, por favor contate o suporte.</p>
        </div>
        <footer>
            <button onclick="history.back()" class="botao-voltar">
                <img src="/images/arrow-back.svg" alt="Voltar">
            </button>
        </footer>
    </main>
</body>
</html>
