<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/logo-icon.png" type="">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="/css/top-bar.css">
        <link rel="stylesheet" href="/css/page-orphanages.css">
        <!--Fonte de Texto Externa-->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">

        <!--Biblioteca Leafletjs-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" 
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
        />

        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""
        ></script>


        <title>Localize um orfanato | Happy</title>
    </head>
    <body>
        <div id="page-orphanages">
            <div class="top-bar animated-down">
                <img src="/images/logo.svg" alt="Logomarca de Happy" id="logo">
                <h3>Clique ou toque para escolher um orfanato no mapa.</h3>
            </div>
            <aside class="animated-right" id="aside-right-bar">
                <header>
                    <img src="/images/map-marker.svg" alt="Happy">
                    <h2>Escolha um orfanato no mapa</h2>
                    <p>Muitas crianças estão esperando sua visita :)</p>
                </header>
                <footer>
                    <strong>Rio do Sul</strong>
                    <p>Santa Catarina</p>
                </footer>
            </aside>
            <div id="mapid" class="animated-appear"></div>
            
            <!-- Obtenção dos dados -->
            <div class="orphanages">
                {{#each orphanages}}
                    <span hidden
                        data-id="{{this.id}}"
                        data-name="{{this.name}}"
                        data-lat="{{this.lat}}"
                        data-lng="{{this.lng}}"
                    ></span>
                {{/each}}
            </div>

            <a href="create-orphanage" class="create-orphanage" title="Cadastre um orfanato">
                <img src="/images/plus.svg" alt="Criar Orfanato">
            </a>
        </div>
        <script src="/scripts/page-orphanages.js"></script>
    </body>
</html>